input {
    border-width: 4px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(46, 43, 43);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, .flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-links {
    position:fixed; 
    padding:5px; 
    bottom:0px;
    display: flex;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #333;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	background: white;
	margin: 5px;
	transition: 1s;
}

.social-btn span {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
}

.social-btn:hover {
	width: 150px;
	border-radius: 5px;
}

.social-btn:hover span {
	padding: 2px;
	width: max-content;
}

#twitter svg {
	fill: #1da1f2;
}

#github {
	fill: #333;
}


@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
    }
  }
  
  input,button {
    width: 130%;
    height: 120%;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
    font-size: 1.1em;
    color: #666;
    box-shadow: 0 6px 6px #06f;
    outline: none;
  }
  #add_name,#add_path {
      padding: 5px;
      width: 50%;
      height: 2.5%;
  }
  #add_name + #add_path {
      margin-top: 15px;
  }
  form + form {
      margin-top: 10px;
  }
  button:active {
    /* set time duration to your needs */
    animation: gradient 100ms;
    background: #f88;
    color: #fff;
    box-shadow: none;
  }


